* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;

  width: 100%;
  height: 100vh;
  background: linear-gradient(#0186f8, #f8f501);
}

#search-box {
  font: inherit;
  padding: 5px 20px;
  max-width: 320px;
  margin-bottom: 16px;
}

.search {
  position: relative;
}
.search .search-input {
  background: none;
  border: 0.15rem solid #fff;
  border-radius: 3.0625rem;
  height: 3.0625rem;
  width: 3.0625rem;
  color: #fff;
  letter-spacing: 0.03rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.search .search-input:focus {
  outline: 0;
}
.search .cross {
  position: absolute;
  top: 10px;
  right: 1rem;
  cursor: pointer;
  width: 27px;
  height: 27px;
  transform: translateX(31px) translateY(27px);
  transition: all 0.3s 0.3s ease;
}
.search .cross:before,
.search .cross:after {
  content: '';
  display: block;
  background: white;
  position: absolute;
  width: 0.15rem;
  height: 1.7rem;
  transition: all 0.3s ease;
  left: 0.8125rem;
}
.search .cross:before {
  transform: rotate(-45deg);
}
.search .cross:after {
  transform: rotate(-45deg);
}
.search.opened .search-input {
  width: 20rem;
  transition-delay: 0.6s;
  cursor: text;
}
.search.opened .cross {
  transform: translateX(5px) translateY(1px);
  transition-delay: 0s;
}
.search.opened .cross:before {
  transition-delay: 0.3s;
  transform: rotate(45deg);
}

.country__list {
  border-radius: 10px;
  background-color: rgba(161, 235, 250, 0.3);
  padding: 20px 30px;
  list-style-type: none;
  margin: 0;
}

.country-list {
  margin: 0;
}

.country__svg {
  width: 150px;
  display: flex;
  margin: auto;
}

.country__name {
  text-align: center;
}

.country__list-name {
  font-weight: 700;
}

.country__value {
  font-weight: 400;
}

.country-item {
  display: flex;
  align-items: center;
}

.country-svg {
  width: 50px;
  margin-right: 10px;
}

.country-name {
  font-weight: 600;
}
